
   
html,
body {
    background-color: #f8eee7;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 3em;
}

a {
    text-decoration: none;
    color: #011562;
}

a:hover {
    color: #89B9BA;
}



